body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  margin-top: 10em;
  user-select: none;
  background-image: url("https://d17ol771963kd3.cloudfront.net/assets/bg/1-887982e96de43125413de3e4ba29cd61.gif");
}
